[filter "lfs"]
    smudge = git-lfs smudge -- %f
    required = true
    clean = git-lfs clean -- %f
[user]
    name = Cole Scott
    email = colescottsf@gmail.com
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    co = checkout
    f = fetch
    rf = checkout HEAD

    # Getting Info
    l = log --format=oneline --abbrev-commit --graph
    ll = log --format=fuller --date=relative --graph --stat
    l-simple = log --format=oneline --abbrev-commit --date=relative --graph --first-parent
    s = status

    # Commiting
    c = commit -m
    amd = commit --amend -m

    # Commit manipulation
    r = rebase
    ri = rebase -i
    m = merge --ff-only
    cr = cherry-pick
    undo = reset HEAD~

    # Branch manipulation
    b = branch
    mb = checkout -b
    db = branch -d
    ch = checkout
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep \"^S\"
[push]
    default = simple
[commit]
	gpgsign = true
